   a:link {
      color: green;
      background-color: transparent;
      text-decoration: none;
      text-align: center;
      font-size: 25px;
    }
    body {
    background-color: rgb(173, 230, 173);
    text-align: center;
  }
  
  h1 {
    color: rgb(255, 0, 0);
    text-align: center;
  }
  
  p {
    font-family: verdana;
    font-size: 20px;
  }

  table {
    border: 1px solid;
    table-layout: auto;
  }

  th{
    border: 1px solid;

  }

  td{
    border: 1px solid;
  }